<h2>Your profile</h2>

<% if params[:new_user] %>
<p>Welcome to Codebuddies, please take a moment to finish your profile!</p>
<% end %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <h3>Basic info</h3>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %></div>

  <h3>Other details</h3>
  <div><%= f.label :github %><br />
  <%= f.url_field :github %></div>

  <div><%= f.label :bitbucket %><br />
  <%= f.url_field :bitbucket %></div>

  <div><%= f.label :about_me %><br />
  <%= f.text_area :about_me %></div>

  <div><%= f.submit "Update" %></div>
<% end %>


<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>





