<div class="col span_4_of_4">
    <h1><%= user.username %></h1>
    <hr>
    <p>Github:</p>
    <p><%= user.github %></p><br>
    <p>Bitbucket:</p>
    <p><%= user.bitbucket %></p><br>
    <p>About me:</p>
    <p><%= user.about_me %></p><br>

    <%= link_to "Postings", user_postings_path(user.id) %>
</div>