<div class="users section group">

  <%= form_tag users_path, id: :user_search, :method => 'get' do %>
      <p>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search" %>
      </p>
  <% end %>

  <%= render "users" %>

</div>