<div class="single-post">
  <h1 class="post-title"><%= post.title %></h1>
  <br>
  <p class="post-description"><%= post.description %></p>
  <p class="post-date"><%= post.updated_at %></p>
  <h2>Author: <%= post.user.username %></h2>
  <h2>Languages:</h2>
  <ul>
  <% post.languages.each do |l| %>
      <li><%= link_to "#{l.title}", postings_path(search_type: 'Language', search:"#{l.title}") %></li> |
  <% end %>
  </ul>
  <% if can? :edit, post %>
    <%= link_to "Edit", edit_posting_path(post.id) %>
  <% end %>
  <% if can? :destroy, post %>
    <%= link_to "Delete", posting_path(post.id), method: :delete %>
  <% end %>
  <hr>
</div>
