<% if @postings.blank? %>
  <p><%= flash[:warning] %></p>
<% end %>

<div class="span_2_of_4  center">
  <% @postings.each do |post|%>
    <%= render "post", post: post %>
  <% end %>
  <%= will_paginate %>
</div><!-- span -->
