<div class="section group">
  <div class="span_2_of_4 center">
    <%= form_tag postings_path, id: :postings_search, class: 'clearfix search', :method => 'get' do %>
            <%= text_field_tag :search, params[:search], placeholder: 'Search here', class: 'styled-input' %>
            <!-- outer div is needed for the select box to work properly -->
            <div class="styled-select">
              <%= select_tag :search_type, options_for_select([ "Title", "Language" ], params[:search_type]), class: 'cus'%>
            </div>
            <%= submit_tag "Search", class: 'styled-button' %>
    <% end %>
  </div>
  <%= render 'postings' %>
</div>
