<div class="section group half">
  <div class="col span_4_of_4">
      <h1>Edit your posting</h1>

      <%= form_for @posting, url: { action: "update" }, method: "patch" do |f| %>
        <div>
          <%= f.label :title %> <br>
          <%= f.text_field :title %>
        </div>

        <div>
          <%= f.label :description %><br>
          <%= f.text_area :description, size:"80x12" %>
        </div>

        <%# f.select :languages, @selected_collection, { include_hidden: false }, { multiple: :true } %>
        <div>
          <%= f.label :languages %><br>
          <%= text_field_tag :posting_languages, @known_languages %>
        </div>

        <%= f.submit "Update posting" %>
      <% end %>

  </div>
</div>