<div class="section group half">
  <div class="col span_4_of_4">
      <h1>Create a new posting</h1>

      <%= form_for @posting, url: { action: "create" } do |f| %>
        <div>
          <%= f.label :title %> <br>
          <%= f.text_field :title %>
        </div>

        <div>
          <%= f.label :description %><br>
          <%= f.text_area :description, size:"80x12" %>
        </div>

        <div>
          <%= f.label :languages %><br>
          <%= text_field_tag :posting_languages %>
        </div>

        <%= f.submit "New posting" %>
      <% end %>

  </div>
</div>
