<div class="section group">
  <div class="main col span_4_of_4">
      <h1 id="start">Welcome to codebuddies, a website where you can find other people to code with no matter the skill level.</h1>
  </div>
</div>
