/* global settings & resets */

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

 /* clearfix */
.clearfix:before,
.clearfix:after {
  content:"";
  display:table;
}
.clearfix:after {
  clear:both;
}

 /* variables */
$phones: "only screen and (max-width : 767px)";
$bigScreen: "only screen and (min-width : 768px)";
    /* colors */
    $darkgrey: #3E454C;
    $darkblue: #2185C5;
    $lightblue: #7ECEFD;
    $creme: #FFF6E5;
    $orange: #FF7F66;

/* resets */

body {
    width: 100%;
    margin: 0 auto;
    font-size: 18px;
    font-family: 'PT Sans', helvetica, sans-serif;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
        display: inline;
    }
}


p, h1, h2, h3, h4, h5, h6, a {
    padding: 0;
    margin: 0;
    font-size: 1em;
    color: #000;
}

a {
    text-decoration: none;
    color: blue;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

@mixin no-margin-border {
    margin: 0;
    border: 0;

}

/* icon font */
@font-face {
    font-family: 'Genericons';
    src: url('font/genericons-regular-webfont.eot');
    src: url('font/genericons-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/genericons-regular-webfont.woff') format('woff'),
         url('font/genericons-regular-webfont.ttf') format('truetype'),
         url('font/genericons-regular-webfont.svg#genericonsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* helper classes */
.half { width: 50%; }
.block { display: block; }
.center { margin: 0 auto;}

    /* vendor prefix mixin */
    @mixin vendor-prefix($name, $argument) {
      -webkit-#{$name}: #{$argument};
      -ms-#{$name}: #{$argument};
      -moz-#{$name}: #{$argument};
      -o-#{$name}: #{$argument};
      #{$name}: #{$argument};
    }

/* grid settings */

/*  SECTIONS  */
.section {
    clear: both;
    padding: 0px;
    margin: 0 auto;
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float:left;
    margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}

/*  GRID OF FOUR   */
.span_4_of_4 {
    width: 100%;
}

.span_3_of_4 {
    width: 74.6%;
}

.span_2_of_4 {
    width: 49.2%;
}

.span_1_of_4 {
    width: 23.8%;
}


/*  GO FULL WIDTH AT LESS THAN 768PIXELS */
@media #{$phones} {
    .col {
        margin: 1% 0 1% 0%;
    }
    .span_4_of_4 {
        width: 100%;
    }
    .span_3_of_4 {
        width: 100%;
    }
    .span_2_of_4 {
        width: 100%;
    }
    .span_1_of_4 {
        width: 100%;
    }
}

/* buttons and search */

.search {
    text-align: center;
    display: block;
}

.styled-button {
    background-color: $orange;
    color: $creme;
    padding: 10px 20px;
    @include no-margin-border;
    float: left;
    cursor: pointer;

}

.styled-input {
    background-color: $darkgrey;
    color: $creme;
    padding: 10px 20px;
    @include no-margin-border;
    float: left;

}

.styled-select {
    float: left;
    /* this class is loaded with customSelect jqeury plugin */
    .customSelect {
        width: 268px;
        padding: 5px;
        border-radius: 0;
        height: 36px;
        color: $creme;
        @include vendor-prefix(appearance, none);
        @include no-margin-border;
        text-align: left;
        background: lighten($darkgrey, 10) url("img/down.png") no-repeat right center;
        background-size: 20px;
        @media #{$phones} {
            width: 134px;
        }
    }
}

