/* main page content */
#start {
    text-align: center;
    margin-top: 50px;
    padding: 10px;
    font-size: 2.5em;
    @media #{$phones} {
        padding: 5px;
        margin-top: 15px;
        font-size: 1.75em;
    }
}
