/* this mixin is needede because nav menu
 button can't be a link, so in that case we stylize
 the li element */
@mixin nav_button {
  padding: 40px 20px;
  color: $creme;
}

/* navigation */
#navigation {
  background-color: $darkblue;

  li {
    &:first-child { display: none; }

    @media #{$phones} {
      &:first-child { display: block; }
      text-align: center;
    }
  }

  #nav_menu {
    @include nav_button;
    cursor: pointer;
    font-weight: bold;

  }

  a {
    float: left;
    display: block;
    @include nav_button;

    &:hover {
      background-color: lighten($darkblue, 20%);
      @include vendor-prefix(transition, all 1s ease);
    }
    @media #{$phones} {
      float: none;
      border-top: solid 1px $creme;
    }
  }
}

