.single-post {
  background-color:$creme;
  padding: 30px;
  &:hover {
    background-color: darken($creme, 15%);
    @include vendor-prefix(transition, all 0.5s ease);
  }
}

.post-title {
  font-size: 1.7em;
}

.post-description {
  padding: 0 0 20px 0px;
}

.post-date {
  font-size: 0.7em;
}