// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* main page content */
.main {
    margin: 0 auto;
}

#start {
    text-align: center;
    margin-top: 3em;
    padding: 10px;
    font-size: 2.5em;
}