.users {
  margin: 0 auto;
  width: 50%;
  padding: 1%;
  @media #{$phones}{
    width: 100%;
  }
}

.users .col:first-child {
  padding-top: 30px;
  @media #{$bigScreen} {
    margin-left: 1.6%;
  }
}