<ul id="navigation" class="clearfix">
    <li id="nav_menu"><span>MENU</span></li>
    <li><%= link_to "Home", root_path %></li>
    <% if current_user %>
        <li> <%= link_to "Profile", edit_user_registration_path %> </li>
        <li> <%= link_to "Sign out", destroy_user_session_path, method: :delete %> </li>
        <li><%= link_to "New posting", new_user_posting_path(current_user) %></li>
        <li><%= link_to "My postings", user_postings_path(current_user) %></li>
        <% if current_user.admin? %>
            <li><%= link_to "Administration", rails_admin_path %></li>
        <% end %>
    <% else %>
        <li> <%= link_to "Sign in", new_user_session_path %> </li>
        <li><%= link_to "Register", new_user_registration_path %></li>
    <% end %>
    <li><%= link_to "Members", users_path %></li>
    <li><%= link_to "Postings", postings_path %></li>
    <li><%= link_to "About", '#' %> </li>
</ul>