<!DOCTYPE html>
<html>
<head>
  <title>Codebuddies</title>
  <meta name="viewport" content="initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <%= render "layouts/nav" %>
    <% if flash[:notice] %>
        <div class="notice"><%= flash[:notice] %></div>
    <% end %>

    <%= yield %>

    <hr>
    <% if current_user %>
    <ul>
      <li><%= params.inspect %></li>
      <li><%= current_user.id %></li>
    </ul>
    <% end %>

</body>
</html>
